:root {
    --parchment: #fcfcec;
    --ink: #191b1c;
    --accent1: #005746;
    --accent2: #990f4b;
    --accent3: #561d5e;
  --links:     #384d48;
}

*{
  box-sizing: border-box;
}

nav {
  color: var(--ink);
  background-color: var(--parchment);
  margin: 0px 5px;
  padding: 5px;
  border: 2px solid var(--accent1);
}

a:hover, a:focus{
  color: var(--accent2);
}

header{
  color: var(--ink);
  margin: 10px;
}

header h1{
  font-size: 3rem;
  line-height: 1.15;
}

body{
  line-height: 1.55;
  color: var(--ink);
  background: var(--parchment);
}

main{
  margin: 10px 5px 5px;
}

main section{
  margin: 5px;
}

/* footer{

} */

/* change this styling later. make it bold and accent2, not uppercase */
.current a{
  /* text-transform: uppercase; */
  color: var(--accent1);
  font-weight: bold;
  text-decoration: underline;
}

/* .current a::before{
  content: "";
} */

/* nav {
  display: flex;
} */

a{
  color: var(--accent1);
}

nav{
  font-weight: bold;
}

nav ul li a{
    /* padding: 15px 20px; */
    /* font-weight: bold; */
    /* font-size: 20px; */
}

.gallery{
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  justify-content: space-around;
}


/* media queries for 2 columns for tablet size and 3 columns for desktop */
@media screen and (min-width: 600px){
    .grid{
        grid-template-columns: 45% 45%;
    }
}

@media screen and (min-width: 1000px){
    .grid{
        grid-template-columns: 30% 30% 30%;
    }
}